# ETL Pipeline Preparation
Follow the instructions below to help you create your ETL pipeline.
### 1. Import libraries and load datasets.
- Import Python libraries
- Load `messages.csv` into a dataframe and inspect the first few lines.
- Load `categories.csv` into a dataframe and inspect the first few lines.

In [1]:
# import libraries
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
# load messages dataset
messages = pd.read_csv('messages.csv')
messages.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [3]:
# load categories dataset
categories = pd.read_csv('categories.csv')
categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

### 2. Merge datasets.
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to `df`, which will be cleaned in the following steps

In [4]:
# merge datasets
df = messages.merge(categories,how='outer', on='id')
df.head()

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

### 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column. You'll find [this method](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.str.split.html) very helpful! Make sure to set `expand=True`.
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [5]:
# create a dataframe of the 36 individual category columns
categories = df['categories'].str.split(';', expand = True)
categories.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [6]:
# select the first row of the categories dataframe
row = categories.iloc[0,:]

# use this row to extract a list of new column names for categories.
# one way is to apply a lambda function that takes everything 
# up to the second to last character of each string with slicing
category_colnames = row.transform(lambda x: x[:-2]).tolist()
print(category_colnames)

['related', 'request', 'offer', 'aid_related', 'medical_help', 'medical_products', 'search_and_rescue', 'security', 'military', 'child_alone', 'water', 'food', 'shelter', 'clothing', 'money', 'missing_people', 'refugees', 'death', 'other_aid', 'infrastructure_related', 'transport', 'buildings', 'electricity', 'tools', 'hospitals', 'shops', 'aid_centers', 'other_infrastructure', 'weather_related', 'floods', 'storm', 'fire', 'earthquake', 'cold', 'other_weather', 'direct_report']

In [7]:
# rename the columns of `categories`
categories.columns = category_colnames
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

### 4. Convert category values to just numbers 0 or 1.
- Iterate through the category columns in df to keep only the last character of each string (the 1 or 0). For example, `related-0` becomes `0`, `related-1` becomes `1`. Convert the string to a numeric value.
- You can perform [normal string actions on Pandas Series](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series. You may need to first convert the Series to be of type string, which you can do with `astype(str)`.

In [8]:
for column in categories:
    # set each value to be the last character of the string
    categories[column] = categories[column].transform(lambda x : x[-1:])
    
    # convert column from string to numeric
    categories[column] = categories[column].astype(int)
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [9]:
# drop the original categories column from `df`
df=df.drop('categories',axis=1)

df.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [10]:
# concatenate the original dataframe with the new `categories` dataframe
df = pd.concat([df, categories], axis=1)
df.head()

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 6. Remove duplicates.
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In [11]:
# check number of duplicates
for col in df.columns:
    number_of_unique= len(df[col].unique())
    if number_of_unique !=2:
        print(col,number_of_unique)

id 26180
message 26177
original 9631
genre 3
related 3
child_alone 1

In [12]:
df.related.unique()

array([1, 0, 2])

 Check what "2" mark message look like

In [20]:
df=df.sort_values(by=['related'],ascending=False)
df.head(50)

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
12290,14305,BBC HELP LINE K TUFAIL MIN TEH.JAMPUR DISTT.RA...,a tufail jampur rajanpur ' ...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8766,9746,"3 mamit chabon,4 dola poban,kart,pn 2 t,kreson...","3 mamit chabon, 4 dola poban, kart, pon 2 t, k...",direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8633,9595,0Tranbleman t aH 8@@ @2x @e8x3 xr ' Gv?e?0,0Tranbleman t aHlt 8@@ @2x @e8x3 xr ' Gv?e?...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12219,14101,Complaint against save the children is not vis...,a sabqi wala P / O mughlan a,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11774,13496,aguinho89 Adding the 2010 S‚àö¬£o Tom‚àö¬© (wi...,NaN,social,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12222,14106,Distrct jamshoro lakhra residentional ...,distrct lakhra residentional ...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15029,17668,Despite rapid deliveries of tents and other re...,NaN,news,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12224,14115,. Saed. Khan. Tahsel. Jampr. Zela. Rajnpr. Gha...,. Saed. Khan. Tahsel. Jampr. Zela. Rajnpr. Gha...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4651,5265,(Delmas 33 Charboniere infomatyon s'il vous pl...,"Delmas 33, charbonniere, information please.",direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12226,14121,bary silb zadgan.mir abo. Alli halya sylab ...,bary silb. zadgan.mir. abo ahamad Alli halya...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12227,14123,Iam Raees khan and iam very poor man.,iam raees iam a,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5107,5781,mwen ta renmen gen enfmasyon sou siklyn nan pe...,I wanna know information in my country about t...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9805,10978,Tegen tranblement land kite yon pase nan north...,Tgen yon tranblement de terre kiti pase nan no...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12685,14980,#SandyUntappd ‚àö‚â• Drinking an Oatmeal Stout...,NaN,social,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12236,14138,"Sukkur , , ,",a,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10232,11606,alhamdulillah sekarang udah jarang Earthquake ...,NaN,social,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1506,1747,Gens ont information qui dit que si on moins c...,GEN YON ENFOMASYON KI DI SI YON MOUN SITWAYEN ...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12241,14156,Tahsel. jamur. Rajanpur?,tahsel. jamur. d.s.s. a,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12242,14157,"Tahsel,. . Jamur,. . D.s.s.,. . Rajanpur.",.tahsel. jamur. d.s.s. Rajanpur ?,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12243,14162,100 persnt Effecte Nitionality K Righter...,100 persnt Effecte Ky Nitionality Righter...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19849,22985,This combination of low agricultural productio...,NaN,news,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12247,14180,KHALIL AHMAD AND M ASMIAL KOTLA MUGHLAN DISTRE...,ASMIAL MUGHLAN DISTREKT RAJANPUR TAHSEEL ...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12248,14186,KHALIL AHMAD ARIAN KOTLA MUGHLAN TAHSEL JAMPUR...,KHALIL AHMAD ARIAN KOTLA MUGHLAN. TAHSIL JAMPU...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
221,263,. .. i with limited means. Certain patients co...,t avec des moyens limites. Certains patients v...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11745,13457,elipepolesi @vivisabetudo po to sempre do lado...,NaN,social,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12254,14219,kamea kole asman K,a kamea Nea a kole asman a madad a,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6304,7117,"mwen besoin dlo avek mange na zon bon repos, l...","I need food and water at Bon Repos, lilavois 5...",direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12427,14645,"CONNFCTION / . SOLANGI, ...",CONNFCTION B / C . VILLAGE ...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11588,13260,martelozzo Eu n‚àö¬£o to em Santa Cruz do Rioo...,NaN,social,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12258,14226,Aijaz ahmed dit khairpur meirs thahsel nara vl...,a,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1317,1550,don't understand the first part. .. understand...,zwen e koman demache la ye. mesi pou konprehan...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2560,2936,". .. Esdras. Address : Solidarit Village, Tou...",UL ESDRAS ADRESSE VILLAGE SOLIDARITE RUE T LOU...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16046,18777,The 50 international hospital staff lived in a...,NaN,news,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11784,13511,ikael_Santiago pode crer.. vou ler mais tarde ...,NaN,social,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
578,700,URGENT CRECHE ORPHANAGE KAY TOUT TIMOUN CROIX ...,r et Salon Furterer. mwen se yon Cosmtologue. ...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9591,10724,Wpltjgdtm pwjtj ptjg. T .)tgjpg(uk,Wpltjgdtm pwjtj ptjg. T .)tgjpg(uk),direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7189,8057,9GeQYeYGQEQtm,9GeQYeYGQEQtmi,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11832,13566,"De folga hoje, mas amanh‚àö¬£ to trabalhando n...",NaN,social,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9036,10091,"NOTES: This message is not complete, it is not...",Nap fe ou konnen ke apati de jodi a sevis SMS ...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12160,13970,hmre vilage kachipul men flood ne bht nuksan k...,hmre vilage kachipul bht nuksan kiya hmra ...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4609,5219,Mwen ta renmen jwenn yon djb. ske gen posiblit...,"I wannan found one jod, how like I can got it....",direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20465,23662,transferred to a sanitary landfill site by a,NaN,news,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12165,13975,hmre vilage kachipul men flood ne bht nuksan k...,HAMARE GAON KACHIPUL MEIN BADH NE BAHUT NUKSAA...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12479,14720,@jujoffer: So Frankenstorm has been reduced to...,NaN,social,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11814,13544,"Utsatte turen til Santiago til i morgen, da br...",NaN,social,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4805,5437,Ede m nan lort pou genyen yon bourss,"i need your help please, in other to have a sc...",direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8618,9577,"Pal kraze preval di pa gen pwoblem, pal jistis...","Pale kraze preval di pa gen pwoblem, pal jisti...",direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12363,14524,Sajid ULLAH Khan s/oFaiz ULLAH Khan,Sjida ullha/ o'Faiz ullha khana,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8793,9777,Mato30 Nivo60 Tiwl30 Ficel22 Ek49,Mato30 Nivo60 Tiwl30 Ficel22 Ek49,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3374,3866,I am very happy to get the messages that tell ...,M byen kontan jwenn mesaj nou yo ki enfome m d...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

We can see that the message in label 2 is irrelavent information. We also see that child_alone only has one message, we will drop them in next step

In [21]:
df.drop('child_alone',axis=1, inplace = True)
df = df[df['related'] != 2]

In [22]:
# drop duplicates
df = df.drop_duplicates()

In [23]:
# check number of duplicates
print(df.duplicated().sum())

0

### 7. Save the clean dataset into an sqlite database.
You can do this with pandas [`to_sql` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html) combined with the SQLAlchemy library. Remember to import SQLAlchemy's `create_engine` in the first cell of this notebook to use it below.

In [28]:
engine = create_engine('sqlite:///C:\\Users\\libin\\OneDrive\\桌面\\processeddata.db')
df.to_sql('df', engine, index=False)

### 8. Use this notebook to complete `etl_pipeline.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database based on new datasets specified by the user. Alternatively, you can complete `etl_pipeline.py` in the classroom on the `Project Workspace IDE` coming later.